@model List<dynamic> 
@{
    ViewData["Title"] = "Panier";
}

<h2>Votre panier</h2>
<section class="container">
    @foreach(dynamic p in Model)
    {
        <div class="row">
            <div class="col-md-3">
                @p.Produit.Title
            </div>
            <div class="col-md-3">
                @p.Produit.Price
            </div>
            <div class="col-md-3">
                <a asp-route="updateQtyProduit" asp-route-id="@p.Produit.Id" asp-route-qty="-1">-</a>@p.qty<a asp-route="updateQtyProduit" asp-route-id="@p.Produit.Id" asp-route-qty="1">+</a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Panier" asp-action="DeleteProduct" asp-route-id="@p.Produit.Id">supprimer</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            @ViewBag.Total €
        </div>
    </div>
</section>
